<div class="row">
  <div class="col-md-12">
    <h2>Categories</h2>
    <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
    <hr />

    <table class="table">
      <thead>
        <tr>
          <th>Category ID</th>
          <th>Category Name</th>
          <th></th>
        </tr>
      </thead>
      {{#if categories}}
        <tbody>
          {{#each categories}}
            <tr>
              <td><a href="/posts?category={{id}}">{{id}}</a></td>
              <td><a href="/posts?category={{id}}">{{category}}</a></td>
              <td><a href="/categories/delete/{{id}}" class="btn btn-danger">
                  Remove</a></td>
            </tr>
          {{/each}}
        </tbody>
        {{else}}
        <tbody>
            <tr>
                <td colspan="2" class="text-center">{{message}}</td>
            </tr>
        </tbody>
        {{/if}}
    </table>

  {{!-- </div>
  {{! //This will allow us to correctly show the error message from the .catch() in our route }}
  <div class="col-md-12 text-center">
    {{#unless categories}}
      <strong>{{message}}</strong>
    {{/unless}}
  </div>

</div> --}}